<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Community Garden', '/', class:'nav-link', class:'navbar-brand' %>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class='nav-item'>
        <%= link_to 'View Gardens', gardens_path, class:'nav-link' %>
      </li>
    </ul>
  </div>
</nav>